App_WebReferences/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMedical_Store">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Medical_Store" nillable="true" type="tns:Medical_Store" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedical_Store" nillable="true" type="tns:ArrayOfMedical_Store" />
  <xs:complexType name="Medical_Store">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Alternative_Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Alternative_Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MedicalStoreID" type="xs:decimal" />
      <xs:element minOccurs="0" name="MedicalStoreName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order_By_Medical_Stores" nillable="true" type="tns:ArrayOfOrder_By_Medical_Store" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Medical_Store" nillable="true" type="tns:Medical_Store" />
  <xs:complexType name="ArrayOfOrder_By_Medical_Store">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order_By_Medical_Store" nillable="true" type="tns:Order_By_Medical_Store" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder_By_Medical_Store" nillable="true" type="tns:ArrayOfOrder_By_Medical_Store" />
  <xs:complexType name="Order_By_Medical_Store">
    <xs:sequence>
      <xs:element minOccurs="0" name="Due_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MedicalStoreID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Medical_Store" nillable="true" type="tns:Medical_Store" />
      <xs:element minOccurs="0" name="OrderIDByMS" type="xs:decimal" />
      <xs:element minOccurs="0" name="Order_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Order_by_Medical_Store_Per_Medicines" nillable="true" type="tns:ArrayOfOrder_by_Medical_Store_Per_Medicine" />
      <xs:element minOccurs="0" name="Placed_By" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sales" nillable="true" type="tns:ArrayOfSale" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order_By_Medical_Store" nillable="true" type="tns:Order_By_Medical_Store" />
  <xs:complexType name="ArrayOfOrder_by_Medical_Store_Per_Medicine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order_by_Medical_Store_Per_Medicine" nillable="true" type="tns:Order_by_Medical_Store_Per_Medicine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder_by_Medical_Store_Per_Medicine" nillable="true" type="tns:ArrayOfOrder_by_Medical_Store_Per_Medicine" />
  <xs:complexType name="Order_by_Medical_Store_Per_Medicine">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MedicineID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="OrderIDByMS" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="OrderIDMSPerMedicine" type="xs:decimal" />
      <xs:element minOccurs="0" name="Order_By_Medical_Store" nillable="true" type="tns:Order_By_Medical_Store" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order_by_Medical_Store_Per_Medicine" nillable="true" type="tns:Order_by_Medical_Store_Per_Medicine" />
  <xs:complexType name="ArrayOfSale">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sale" nillable="true" type="tns:Sale" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSale" nillable="true" type="tns:ArrayOfSale" />
  <xs:complexType name="Sale">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderIDByMS" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Order_By_Medical_Store" nillable="true" type="tns:Order_By_Medical_Store" />
      <xs:element minOccurs="0" name="SaleID" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sale" nillable="true" type="tns:Sale" />
</xs:schema>